/***************************/
/* HEADER */
/***************************/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  /*wanting header to be sticky later*/
  height: 9.6rem;
  padding: 0 4.8rem;
  position: relative;
}

.logo {
  height: 4.8rem;
}

/***************************/
/* Navigation */
/***************************/
.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #10a679;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: #fff;
  background-color: #12b886;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #10a679;
}

/* sticky navigation */
/* to make navigation fixed in the backround */
/* when the parent element is sticky, then the header goes like below. that's why we put .sticky in front  */

.sticky .header {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 8rem;
  padding-top: 0;
  padding-bottom: 0;
  background-color: rgba(255, 255, 255, 0.952);
  z-index: 999;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.2);
}

/* when the parent element is sticky, then section-hero goes like below */

.sticky .section-hero {
  /* because sticky nav appears when section hero is out of the viewport so we add the margin-top*/
  margin-top: 9.6rem;
}

/***************************/
/* MODAL */
/***************************/
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  z-index: 40;
  display: none;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rbga(rgba(0, 0, 0, 0.274));
  backdrop-filter: blur(3px);
  z-index: 30;
  display: none;
}

.modal-close-btn {
  width: 10% !important;
  border-radius: 0 !important;
  position: absolute;
  top: 0;
  right: 0;
}
/***************************/
/* HERO SECTION */
/***************************/

.section-hero {
  background-color: #e7f8f3;
}

.hero {
  max-width: 100%;
  margin: 0 0 0 7rem;
  padding: 0 0 0 2rem;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  gap: 9.6rem;
  align-items: center;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.heading-primary,
.heading-secondary,
.heading-tertiary {
  font-weight: 700;
  color: #333;
  letter-spacing: -0.5px;
}

.heading-primary {
  font-size: 5.2rem;
  line-height: 1.05;
  margin-bottom: 3.2rem;
  width: 550px;
  height: 100%;
  overflow: hidden;
}

.heading-secondary {
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 9.6rem;
}

.heading-tertiary {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}

.subheading {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  color: #10a679;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  letter-spacing: 0.75px;
}

.checkout-text {
  font-size: 2.3rem;
  color: #333;
}

.btn:link,
.btn:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;

  transition: background-color 1s;
}

.hero-img {
  position: relative;
  width: 100%;
  height: 100%;
  opacity: 0.8;
}

.hero-img-box {
  justify-self: center;
}
.higherself-students {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  margin-top: 8rem;
}

.students-imgs {
  display: flex;
}

.students-imgs img {
  height: 4.8rem;
  width: 4.8rem;
  border-radius: 50%;
  margin-right: -1.6rem;
  border: 3px solid #e7f8f3;
}

.students-imgs img:last-child {
  margin: 0;
}

.students-text {
  font-size: 1.8rem;
  font-weight: 600;
}

.students-text span {
  color: #10a679;
  font-weight: 700;
}

/***************************/
/* FEATURED IN SECTION */
/***************************/

.section-featured {
  padding: 4.8rem 0 3.2rem 0;
}

.heading-featured-in {
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 2.4rem;
  color: #888;
}

.logos {
  display: flex;
  justify-content: space-around;
}

.logos img {
  height: 3.2rem;
  filter: brightness(0);
  opacity: 50%;
}

/***************************/
/* HOW IT WORKS SECTION */
/***************************/
.section-how {
  padding: 9.6rem 0;
}

.feature-number {
  font-size: 8.6rem;
  font-weight: 600;
  color: #ddd;
  margin-bottom: 1.2rem;
}

.feature-description {
  font-size: 1.8rem;
  line-height: 1.8;
}

.feature-img-box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.feature-img-box::before,
.feature-img-box::after {
  content: "";
  display: block;
  border-radius: 50%;
  position: absolute;
}

.feature-img-box::before {
  width: 84%;
  padding-bottom: 84%;
  background-color: #e7f8f3;
  z-index: -2;
}

.feature-img-box::after {
  width: 74%;
  padding-bottom: 74%;
  background-color: #d0f1e7;
  z-index: -1;
}

.feature-img {
  width: 35%;
}

/***************************/
/* COURSES SECTIONS*/
/***************************/
.course-img {
  width: 100%;
}

.section-courses {
  padding: 9.6rem 0;
}

.benefits {
  position: relative;
}

.flip-benefits {
  position: absolute;
  height: 100%;
  width: 100%;
  transform-style: preserve-3d;
  transition: all 0.8s ease;
}

.flipper {
  transform: rotateY(180deg);
}

.flip-front {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3.2rem 2.4rem 3.2rem 2.4rem;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-back {
  position: absolute;
  padding: 3.2rem 2.4rem 3.2rem 2.4rem;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transform: rotateY(180deg);
}

.courses {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 11px;
  overflow: hidden;
  transition: all 0.4s;
}

.courses:hover {
  transform: translateY(-1.2rem);
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.06);
}

.course-content {
  padding: 3.2rem 2.4rem 4.8rem 2.4rem;
}

.course-title {
  font-size: 2.4rem;
  color: #333;
  font-weight: 600;
  margin-bottom: 3.2rem;
}

.course-intros {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.course-1 {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.course-icon {
  height: 2.4rem;
  width: 2.4rem;
  color: #12b886;
  margin-left: 1.2rem;
}

.course-tags {
  margin-bottom: 1.2rem;
  display: flex;
  gap: 0.4rem;
}
.tag {
  display: inline-block;
  padding: 0.4rem 0.8rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #333;
  border-radius: 100px;
  font-weight: 600;
  background-color: #12b886;
}

.center-text {
  text-align: center;
}

.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.list-item {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.list-icon {
  width: 3rem;
  height: 3rem;
  color: #12b886;
}

/***************************/
/* TESTIMONIAL SECTIONS*/
/***************************/
.testimonial-section {
  padding: 9.6rem 0;
  display: grid;
  justify-content: center;
  padding-bottom: 9.6rem;
}

.carousel {
  width: 113.6rem;
  background-color: #12b886;
  box-shadow: 0 0 32px rgba(0, 0, 0, 0.2);
  padding: 32px 48px 32px 48px;
  border-radius: 8px;
  display: flex;
  gap: 86px;
  position: relative;
}

.testimonial-1 {
  height: 30rem;
  border-radius: 8px;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.25);
}

.testimonial-text {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 32px;
  color: #e6fcf5;
}

.testimonial-author {
  font-size: 14px;
  margin-bottom: 4px;
  color: #c3fae8;
}

.testimonial {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.btn-testimonial {
  background-color: #fff;
  border: none;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  position: absolute;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}

.btn--left {
  left: 0;
  top: 50%;
  transform: translate(-50%, -50%);
}

.btn--right {
  right: 0;
  top: 50%;
  transform: translate(50%, -50%);
}

/***************************/
/* FAQ SECTIONS*/
/***************************/

.faq-section {
  display: grid;
  justify-content: center;
  padding: 9.6rem 0;
}

.faq-box {
  width: 100rem;
  /* margin-bottom: 9.6rem; */
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.item {
  box-shadow: 0 0 32px rgba(0, 0, 0, 0.1);
  padding: 24px;

  display: grid;
  grid-template-columns: auto 1fr auto;
  column-gap: 24px;
  row-gap: 32px;
  align-items: center;
}

.number,
.question {
  font-size: 24px;
  font-weight: 500;
  /* color: #087f5b; */
}

.number {
  color: #ced4da;
}

.open-icon,
.close-icon {
  width: 24px;
  height: 24px;
  stroke: #087f5b;
}

.answer {
  grid-column: 2;
  display: none;
}

.answer p {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 24px;
}

/* open */

.open {
  border-top: 4px solid #087f5b;
}

.open .answer {
  display: block;
}

.open .number,
.open .question {
  color: #087f5b;
}

.close-icon {
  display: none;
}

.open .close-icon {
  display: inline;
}

.open .open-icon {
  display: none;
}

/***************************/
/*  SUBSCRIBE SECTIONS*/
/***************************/

.email-section {
  justify-content: center;
}

.email-box {
  padding: 60px 40px;
  width: auto;
  text-align: center;
  box-shadow: 0 0 32px rgba(0, 0, 0, 0.1);
}

.email-box h1 {
  font-size: 36px;
  color: #087f5b;
  margin-bottom: 20px;
}

.email-box span {
  display: block;
  font-size: 16px;
  text-transform: capitalize;
  padding-bottom: 5rem;
}

.email-box input {
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
  border: 1px solid #999;
  border-radius: 5px;
  outline-color: #12b886;
  margin-bottom: 25px;
}

.email-box button {
  width: 100%;
  padding: 15px 20px;
  border: 0;
  border-radius: 5px;
  background: #10a679;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  transition: 0.3s;
}

/***************************/
/*  FOOTER SECTIONS*/
/***************************/

.footer {
  padding: 8rem 0;
  border-top: 1px solid #eee;
}

.logo-col {
  display: flex;
  flex-direction: column;
}

.footer-logo {
  display: block;
  margin-bottom: 3.2rem;
}

.social-links {
  list-style: none;
  display: flex;
  gap: 2.4rem;
  padding-left: 2rem;
  padding-bottom: 2rem;
}

.footer p {
  padding-left: 2rem;
}

.social-icon {
  height: 2.4rem;
  width: 2.4rem;
}

.copyright {
  font-size: 1.4rem;
  line-height: 1.6;
  color: #767676;
  margin-top: auto;
}

.footer-heading {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 4rem;
}

.address-col {
  justify-self: right;
}

.contacts {
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.6;
}

.address {
  margin-bottom: 2.4rem;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: #767676;
  transition: all 0.3s;
}

.footer-link:hover,
.footer-link:active {
  color: #555;
}

/* MOBILE */
.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;

  display: none;
}

.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #333;
}

/* select in css based on attributes */
.icon-mobile-nav[name="close-outline"] {
  display: none;
}
